    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Log in -- Entrar no Site</h3>
                    </div>
                    <div class="panel-body">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name),role: "form") do |f| %>
                            <fieldset>
                                <div class="form-group field">
                                  <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class: "form-control", type: "email" %>
                                </div>
                                <div class="form-group field">
                                    <%= f.password_field :password, autocomplete: "off", placeholder: "Senha", type: "password", class: "form-control" %>
                                </div>
                                  <div class="checkbox field">
                                      <label>
                                      <%= f.check_box :remember_me%>Remember Me
                                      </label>
                                  </div>
                                  <%= f.submit "Log in", class: "btn btn-lg btn-success btn-block" %>
                            </fieldset>
                            <% end %>
                            <%= render "admins/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
    </div>

