<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registro</h3>
                </div>
                <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= devise_error_messages! %>
                        <fieldset>
                            <div class="form-group field">
                              <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class: "form-control", type: "email" %>
                            </div>
                            <div class="form-group field">
                                <%= f.password_field :password, autocomplete: "off", placeholder: "Senha (Minimo de 6 caracteres)", type: "password", class: "form-control" %>
                            </div>
                            <div class="form-group field">
                                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmação da Senha", type: "password", class: "form-control" %>
                            </div>
                            <%= f.submit "Registrar", class: "btn btn-lg btn-success btn-block" %>
                        </fieldset>
                        <% end %>
                        <%= render "admins/shared/links" %>
                </div>
            </div>
        </div>
    </div>
</div>
