


<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Esqueceu sua Senha?</h3>
                </div>
                <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                      <%= devise_error_messages! %>
                        <fieldset>
                            <div class="form-group field">
                              <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class: "form-control", type: "email" %>
                            </div>
                            <%= f.submit "Enviar", class: "btn btn-lg btn-success btn-block" %>
                        </fieldset>
                        <% end %>
                        <%= render "admins/shared/links" %>
                </div>
            </div>
        </div>
    </div>
</div>
